DISCORD_TOKEN=cole_aqui_o_token_do_bot
DISCORD_PUBLIC_KEY=cole_aqui_a_chave_publica
DISCORD_APPLICATION_ID=cole_aqui_o_application_id
DISCORD_GUILD_ID=cole_aqui_o_id_do_servidor
DISCORD_CANAL_ID=cole_aqui_o_id_do_canal